@import '../../styles/colors.scss';
@import '../../styles/dimensions.scss';


@mixin layout-square{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: auto;
  grid-gap: 1em;

  // grid-row-gap: auto;
  // justify-items:center;
  // display: flex;
  // justify-content: center;
  align-items: center;
  // flex-direction: row;
  // flex-wrap: wrap;
}


.portfolio-wrapper{
  @include layout-square;


        // background-color: yellow;
        width: 100vw;


        @media screen and (max-width: 600px) {
          // grid-template-columns: 1fr;
          height: 100vh;
          // justify-items: center;
        background-color: olive;
}



@media only screen
    and (width : 375px)
    and (height : 635px)
    and (orientation : portrait)
    and (-webkit-device-pixel-ratio : 3) {
      background-color: red;
      width: 100vw


     }




    }
