@mixin SquareCard($side, $cols){
  $dimens: calc(100vw/#{$cols} - 3rem);


  display: grid;
  grid-template-rows: 4rem 8fr;

  align-self: center;
  justify-self: center;
  height: $dimens;
  width: $dimens;

  @if $side == 'front'{
    grid-template-areas:
    "nav-wrap"
    "portfolio-pic ";
  }
  @else if $side == 'back'{
    grid-template-areas:
    "nav-wrap"
    "project-description";
  }
}



@mixin SquarePhone($side){
  $cardDimension: calc(100vw - 2*1.5rem);
  display: grid;
  grid-template-rows: 4rem 8fr;

  // grid-template-columns:10fr;
  align-self: center;
  justify-self: center;
  min-height: $cardDimension;
  width: $cardDimension;

  @if $side == 'front'{
    grid-template-areas:
    "nav-wrap"
    "portfolio-pic";
  }
  @else if $side == 'back'{
    grid-template-areas:
    "nav-wrap"
    "project-description";
  }
}




@mixin phone-layout($side){
  @include SquarePhone($side)
}


@mixin tablet-portrait-layout($side){
  @include SquareCard($side, 1)
  // @include SquarePhone($side)

}


@mixin tablet-landscape-layout($side){
  @include SquareCard($side, 3)
}

@mixin desktop-layout($side){
  @include SquareCard($side, 4)
}

@mixin desktop-large-layout($side){
  @include SquareCard($side, 5)
}
