@mixin CardStyle{
  background-color: $card-body-color;
  border: 1.25px solid $card-border-color;

  box-shadow: 10px 10px 15px 2.5px $card-shadow-color;
  box-sizing: border-box;
  padding: 0 0.35rem;
}


@mixin buttonGraphic($path){
  // background-color: red;
  background: url($path);
  // background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
  color:rgba(0,0,0,0);
  text-decoration: none;
}
