@import '../../styles/mediaQueries.scss';
@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.aboutme-styles{
  min-height: 100vh;
  background-color: $darkColor;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1.5rem auto 1.5rem;
  grid-template-areas:
  ". profile-pic ."
  ". profile-name ."
  ". profile-about .";

  @include breakpoint(desktop-large){
    grid-template-columns: 10rem auto 10rem;
  }

  .mypic{
    margin-top: 2rem;
    grid-area: profile-pic;
    border: 1.5px solid $lightColor;
    border-radius: 50%;
    object-fit: none;
    object-position: 60% 20%;
    justify-self: center;
    align-self: center;

    @include breakpoint(phone){
      $picSize: 17.5rem;
      width: $picSize;
      height: $picSize;
    }

    @include breakpoint(tablet-portrait){
      $picSize: 32rem;
      width: $picSize;
      height: $picSize;
    }


}

  .myName{
    grid-area: profile-name;
    justify-self: center;
    align-self: center;

    @include breakpoint(phone){
      font-size: 2rem;
    }

    @include breakpoint(tablet-portrait){
      font-size: 4.5rem;
    }

    @include breakpoint(tablet-landscape){
      font-size: 6.5rem;
    }

    @include breakpoint(desktop){
      font-size: 8.5rem;
    }

    @include breakpoint(desktop-large){
      // font-size: 12rem;
      font-size: 8.5rem;

    }
  }

  .profileAbout{
    padding: 2.5rem 0;
    font-size: 1.5rem;
    text-align: justify;

    grid-area: profile-about;
    justify-self: center;

    @include breakpoint(phone){
      font-size: 1.25rem;
    }

  }

}
