@import '../../styles/mediaQueries.scss';
@import './layout.scss';


@mixin fthis{
  // background-color: green;
  grid-area: project-description;
  justify-self: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.80em;
  overflow-y: scroll;
  height: inherit;
}



@mixin buttonGraphic($path){
  background-image: url($path);
  background-repeat: no-repeat;
  background-size: contain;
  color:rgba(0,0,0,0);
  text-decoration: none;
}

@mixin CardStyle{
  background-color: #F5F5F5;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.70);
  box-sizing: border-box;
}

@mixin CardTitleStyle($side){
  .navwrapper{
  justify-content: space-between;
  display: flex;

  .project-title{
    font-size: 1.25em;
    flex-grow: 1;
    order: -1;

    @include breakpoint(phone){
      justify-self: start;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 500;
     font-size: 1em;
    }
  }

  @if($side == 'front'){
      .project-site{
        display: none;
      }
      .project-source{
        display: none;
      }

      .info-button{
        order: 1;
        @include buttonGraphic('./info-icon.png')
      }
  }
  @if($side == 'back'){
      .info-button{
        order: 2;
        @include buttonGraphic('./info-icon.png')
      }

      .project-source{
        @include buttonGraphic('./github-512.png')
      }

      .project-site{
        @include buttonGraphic('./web-icon.png')
      }
  }
  }
}

@mixin CardBodyStyle($side){
  @if($side == 'front'){
    .portfolio-pic{
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      grid-area: portfolio-pic;
    }

    .project-description{
      display: none;
    }

  }
  @if($side == 'back'){
    .portfolio-pic{
      display: none;
    }

    .project-description{



      @include breakpoint(phone){
      }

      @include breakpoint(tablet-portrait){
            @include fthis
      }

      @include breakpoint(tablet-landscape){
        @include fthis
      }

      @include breakpoint(desktop){
        @include fthis
      }
      //
      @include breakpoint(desktop-large){
        @include fthis
      }
    }
  }
}


.cardFront{
  $side: 'front';
  @include CardStyle;
  @include CardTitleStyle($side)
  @include CardBodyStyle($side)

  @include breakpoint(phone){
    @include phone-layout('front')
  }

  @include breakpoint(tablet-portrait){
    @include tablet-portrait-layout('front');
  }

  @include breakpoint(tablet-landscape){
    @include tablet-landscape-layout('front');
  }

  @include breakpoint(desktop){
    @include desktop-layout('front');
  }

  @include breakpoint(desktop-large){
    @include desktop-large-layout('front');
  }
}


.cardBack{
  // height: 100%;
  $side: 'back';
  @include CardStyle;
  @include CardTitleStyle($side)
  @include CardBodyStyle($side)


  @include breakpoint(phone){
    @include phone-layout('back');
  }

  @include breakpoint(tablet-portrait){
    @include tablet-portrait-layout('back');
  }

  @include breakpoint(tablet-landscape){
    @include tablet-landscape-layout('back');
  }

  @include breakpoint(desktop){
    @include desktop-layout('back');
  }

  @include breakpoint(desktop-large){
    @include desktop-large-layout('back');
  }

}
