@import '../../styles/mediaQueries.scss';
@import '../../styles/colors.scss';

@import 'assets/styles/layout.scss';
@import '../../styles/typography.scss';
@import 'assets/styles/mixins.scss';


@mixin CardTitleStyle($side){

  .navwrapper{
    grid-area: nav-wrap;
    display: flex;

    border-bottom: 1.5px solid $lightColor;

  .project-title{
      font-size: 1.5rem;
      flex-grow: 1;
      order: -1;
      justify-self: start;
      font-weight: 500;
      font-size: 1.5rem;
      align-self: center;
  }

  .card-button{
    svg{
      @include svgIcon;
    }
    padding-left: 0.5rem;
    align-self: center;
    justify-self: end;

    @if($side == 'front'){
      visibility: hidden;
      ~ .card-button ~ .card-button{
          visibility: visible;
      }
    }
  }

  }
}


@mixin CardBodyStyle($side){
  background-color: $darkColor;
  padding: 0 15px;
  @if($side == 'front'){
    .portfolio-pic{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      grid-area: portfolio-pic;
    }

    .project-description{
      display: none;
    }
  }

  @if($side == 'back'){
    .portfolio-pic{
      display: none;
    }
    .project-description{
      grid-area: project-description;
      justify-self: center;
      font-weight: 300;
      font-size: 0.80rem;
      padding-top: 0.35rem;


      // @include breakpoint(tablet-portrait){
      //   overflow-y: scroll;
      // }

      @include breakpoint(tablet-landscape){
        overflow-y: scroll;
      }

      @include breakpoint(desktop){
        overflow-y: scroll;
      }

      @include breakpoint(desktop-large){
        overflow-y: scroll;
      }
    }
  }
}


.cardFront{
  $side: 'front';
  @include CardStyle;
  @include CardTitleStyle($side)
  @include CardBodyStyle($side)

  @include breakpoint(phone){
    @include phone-layout('front')
  }

  @include breakpoint(tablet-portrait){
    @include tablet-portrait-layout('front');
  }

  @include breakpoint(tablet-landscape){
    @include tablet-landscape-layout('front');
  }

  @include breakpoint(desktop){
    @include desktop-layout('front');
  }

  @include breakpoint(desktop-large){
    @include desktop-large-layout('front');
  }
}


.cardBack{
  $side: 'back';
  @include CardStyle;
  @include CardTitleStyle($side)
  @include CardBodyStyle($side)


  @include breakpoint(phone){
    @include phone-layout('back');
  }

  @include breakpoint(tablet-portrait){
    @include tablet-portrait-layout('back');
  }

  @include breakpoint(tablet-landscape){
    @include tablet-landscape-layout('back');
  }

  @include breakpoint(desktop){
    @include desktop-layout('back');
  }

  @include breakpoint(desktop-large){
    @include desktop-large-layout('back');
  }
}
