@import '../../styles/mediaQueries.scss';
@import './layout.scss';

@mixin mobileIcon($path){
  background-image: url($path);
  background-repeat: no-repeat;
    background-size: contain;
    color:rgba(0,0,0,0);
    align-self: center;
}



@mixin linkStyles($gridArea, $icon){
  text-decoration: none;
  justify-self: center;
  align-self: center;
  grid-area: $gridArea;
  // @include breakpoint(phone){
    @include mobileIcon($icon)
  // }
}


@mixin infoButton{
  border: none;
  background: none;
  color: rgb(153, 153, 153);
  font-style: italic;
  font-weight: bolder;
}


.cardFront{
  // align-self: center;
  // justify-self: center;
  background-color: #F5F5F5;
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.70);
  display: grid;

  @include breakpoint(phone){
    @include phone-layout('front')
  }

  @include breakpoint(tablet-portrait){
    @include tablet-portrait-layout('front');
  }

  @include breakpoint(tablet-landscape){
    @include tablet-landscape-layout('front');
  }

  @include breakpoint(desktop){
    @include desktop-layout('front');
  }

  @include breakpoint(desktop-large){
    @include desktop-large-layout('front');
  }



  .info-button{
    grid-area: project-btn;
    @include infoButton;

  }

  #portfolio-pic{
    border: 1px solid black;
    justify-self: center;
    align-self: center;
    grid-area: portfolio-pic;
    width: auto;
    height: 185px;

    @include breakpoint(phone){
        height: 75px;
    }
  }


  #project-title{
    grid-area: project-title;
    align-self: center;

    justify-self: center;
    font-size: 1.25em;

    @include breakpoint(phone){
      justify-self: start;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 500;
     font-size: 1em;
    }

  }

}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

    .cardBack{
      background-color: #F5F5F5;
      box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.70);
        display: grid;
        // height: 100%;
        box-sizing: border-box;

      @include breakpoint(phone){
        @include phone-layout('back');
      }

      @include breakpoint(tablet-portrait){
        @include tablet-portrait-layout('back');
      }

      @include breakpoint(tablet-landscape){
        @include tablet-landscape-layout('back');
      }

      @include breakpoint(desktop){
        @include desktop-layout('back');
      }

      @include breakpoint(desktop-large){
        @include desktop-large-layout('back');
      }


      .info-button{
        grid-area: project-btn;
        @include infoButton;
      }




        .project-description{
          // $unit: 683.5788176940534px;
          // width: $unit;
          // height: $unit;
          // width: fit-content;
          grid-area: project-description;
          background-color: rgba(92, 173, 92, 0.52);
          // align-self: center;
          justify-self: center;

          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
         font-weight: 300;
         font-size: 0.80em;

          // overflow-y: scroll;

         // @include breakpoint(desktop-large){
         //   @include aspect-ratio(1, 1);
         // }

        }

        .project-source{
          @include linkStyles(project-source, './github-512.png')
        }

        .project-site{
          @include linkStyles(project-site, './web-icon.png')
        }

    }
