@mixin phone-layout($side){
  grid-column-gap: 10px;
  width: 100vw;

  @if $side == 'front'{
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-areas:
    "portfolio-pic project-title project-btn";
  }

  @else if $side == 'back'{
    grid-template-columns: 1fr 1fr 10fr 1fr;
    grid-template-areas:
    " project-site project-source  project-description project-btn ";
  }
}


@mixin tablet-portrait-layout($side){
  height: 325px;
  width: 325px;
  box-sizing: border-box;
  padding: 15px;

  @if $side == 'front'{
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    grid-template-areas:
    "portfolio-pic"
    "project-title";

  }
  @else if $side == 'back'{
    grid-template-rows: 3fr 1.5em 1.5em;
    grid-template-areas:
    "project-description"
    "project-site"
    "project-source";

  }
}


@mixin tablet-landscape-layout($side){
  @if $side == 'front'{
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    padding: 15px;
    grid-template-areas:
    "portfolio-pic"
    "project-title";
    height: 325px;
    width: 325px;
    box-sizing: border-box;
  }
  @else if $side == 'back'{
    grid-template-rows: 3fr 1.5em 1.5em;
    padding: 15px;
    grid-template-areas:
    "project-description"
    "project-site"
    "project-source";
    height: 325px;
    width: 325px;
    box-sizing: border-box;
  }
}

@mixin desktop-layout($side){
  background-color: red;
  height: 325px;
  width: 325px;
  // min-height: 325px;
  // min-width: 325px;
  box-sizing: border-box;
  // padding: 15px;
  grid-row-gap: 15px;

  @if $side == 'front'{
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    "portfolio-pic portfolio-pic portfolio-pic"
    "... project-title project-btn";
  }

  @else if $side == 'back'{
    background-color: yellow;
    // min-height: 325px;
    // min-width: 325px;
    // $val: calc(height: auto)
    // height: auto;
    // width: #{height};

    // height: auto;
    // width: auto;

    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
    "project-description project-description project-description"
    // "... project-site ..."
    "project-site project-source project-btn";
  }
}

@mixin desktop-large-layout($side){
  @if $side == 'front'{
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    padding: 15px;
    grid-template-areas:
    "portfolio-pic"
    "project-title";
    height: 325px;
    width: 325px;
    box-sizing: border-box;
  }
  @else if $side == 'back'{
    grid-template-rows: 3fr 1.5em 1.5em;
    padding: 15px;
    grid-template-areas:
    "project-description"
    "project-site"
    "project-source";
    height: 325px;
    width: 325px;
    box-sizing: border-box;
  }
}
