
#stay-tuned-wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  // justify-content: center;
  align-items: center;
  background-color: rgb(168, 237, 249);
  color: black;
  padding: 50px;


  #stay-tuned-greeter{
    // background-color: red;
    // width: 50%;
    font-size: xx-large;
  }

  #stay-tuned-pic{
    border: 2px solid white;
    width: 25%;
    height: 25%;

  }

  #stay-tuned-content{
    // background-color: red;
    width: 75%;
    font-size: large;
    // margin: 50px;
  }
}
